
#scannerContainer {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#scannerContainer #reader {
    margin-inline: auto;
    margin-block: 48px;
    border-radius: 16px;
    max-width: 600px;
    overflow: hidden;
}

#scannerContainer #stopScanner {
    position: absolute;
    display: flex;
    justify-self: center;
    z-index: 11;
    margin-block: 52px;
}